@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-color {
  background: transparent linear-gradient(180deg, #66D2BD 0%, #27A28A 100%) 0% 0% no-repeat padding-box;
  z-index: 100;
}

.content-wrapper {
  box-shadow: 0px 2px 8px #00000029;
}